
<link rel="stylesheet" href="/styles/fullcalendar.min.css">
<link rel="stylesheet" href="/styles/fullcalendarTheme.css">
<script src="/js/dependencies/fullcalendar.min.js"></script>
<script src="/js/dependencies/fullcalendar.locales.min.js"></script>

<aside class="content-wrapper">
  <section class="content-header">
    <h1>
        <%= __('Calendar') %>
        <small><%= __('Control Panel') %></small>
    </h1>
    <ol class="breadcrumb">
        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
        <li class="active"><%= __('Calendar') %></li>
    </ol>
  </section>

  <section class="content" data-ng-controller="calendarCtrl as vm">

    <div class="row">
      <div class="col-lg-2">
        <div class="box box-solid box-primary">
          <div class="box-header">
              <%= __('Calendar') %>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i>
                </button> 
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" data-toggle="modal" data-target=".create-calendar-modal"><%= __('create-calendrar') %></a></li>
                    <li><a href="" data-toggle="modal" data-target=".update-calendar-modal"><%= __('edit-calendrar') %></a></li>
                    <li><a href="" data-toggle="modal" data-target=".delete-calendar-modal"><%= __('delete-calendrar') %></a></li>
                </ul>
              </div>
          </div>
          <div class="box-body">
            <label class="checkbox" ng-repeat="calendar in vm.allCalendars">
              {{calendar.name}}
              <input type="checkbox" name="checkbox" ng-checked="calendar.active == true" ng-click="vm.changeCalendarState(calendar)">
              <span class="checkbox-checkmark" style="--checkbox-color: {{calendar.color}}"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="box box-solid box-primary">
          <div id="calendar"></div>
        </div>
      </div>
    </div>

    <div class="modal fade create-calendar-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel"><%= __('create-calendrar') %></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">   
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">   
                                <form class="form-horizontal ng-cloak" >
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('name') %></label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" ng-model="newCalendar.name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('description') %></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="newCalendar.description">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('color') %></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="newCalendar.color">
                                        </div>
                                    </div> 
                                </form>      
                            </div>           
                        </div>         
                    </form>       
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-flat" ng-click="vm.createCalendar(newCalendar);" data-dismiss="modal"><%= __('box-event-create') %></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade update-calendar-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel"><%= __('edit-calendrar') %></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">   
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">   
                                <form class="form-horizontal ng-cloak" >
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('Calendar') %></label>
                                        <div class="col-sm-8">
                                            <select class="form-control" 
                                                    ng-options="selectedCalendar as selectedCalendar.name for selectedCalendar in vm.allCalendars" 
                                                    ng-model="selected">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('name') %></label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control" ng-model="selected.name">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('description') %></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="selected.description">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label"><%= __('color') %></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="selected.color">
                                        </div>
                                    </div> 
                                </form>      
                            </div>           
                        </div>         
                    </form>       
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-flat" ng-click="vm.updateCalendar(selected);" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade delete-calendar-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="<%= __('Close') %>"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title"><%= __('delete-calendrar') %></h4>
              </div>
              <div class="modal-body">
                  <form class="form-horizontal">   
                      <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">   
                              <form class="form-horizontal ng-cloak" >
                                  <div class="form-group">
                                      <label class="col-sm-4 control-label"><%= __('Calendar') %></label>
                                      <div class="col-sm-8">
                                          <select ng-model="id" class="form-control">
                                              <option ng-repeat="calendar in vm.allCalendars" value="{{calendar.id}}">{{calendar.name}}</option>        
                                          </select>
                                      </div>
                                  </div>
                              </form>      
                          </div>           
                      </div>         
                  </form>       
              </div>
              <div class="modal-footer">
                  <button class="btn btn-danger btn-flat" ng-click="vm.deleteCalendar({id: id});" data-dismiss="modal"><%= __('Delete') %></button>
              </div>
          </div>
        </div>
    </div>

  </section>
</aside>

<script>
    document.getElementById("calendarLi").className = "active";
</script>
